<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Assignment Registration</h3>
    </div>
    <!-- /.card-header -->
<div class="col-12">
    <!-- form start -->
    <form role="form">
        <div class="card-body">
        <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="">Customer Name</label>
                <input type="text" class="form-control" id="" placeholder="">
            </div>
            <div class="form-group">
                <label for="">IC Number</label>
                <input type="password" class="form-control" id="e" placeholder="">
            </div>
            <div class="form-group">
                <label for="">Phone Number</label>
                <input type="password" class="form-control" id="e" placeholder="">
            </div>
              <div class="form-group">
                <label>Task</label>
                <select class="form-control">
                    <option>Food Delivery</option>
                    <option>Runner</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Select Location</label>
                <select class="form-control">
                    <option>Location1</option>
                    <option>Location2</option>
                    <option>Location3</option>
                    <option>Location4</option>
                    <option>Location5</option>
                </select>
            </div>
                    <!-- select -->
            <div class="form-group">
                <label>Select Rider</label>
                <select class="form-control">
                    <option>Rider 1</option>
                    <option>Rider 2</option>
                    <option>Rider 3</option>
                    <option>Rider 4</option>
                    <option>Rider 5</option>
                </select>
            </div>
            <div class="form-group">
                <label>Extra Notes for Rider</label>
                <textarea class="form-control" rows="5" placeholder="Assignment Notes"></textarea>
            </div>
        </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit Details</button>
        </div>
    </form>
</div>
</div>