<div class="card">
    <div class="card-header border-transparent">
    <h3 class="card-title">Rider Lists</h3>

    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
        </button>
    </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
    <div class="table-responsive">
        <table class="table m-0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Delivery Date</th>
            <th>Delivery Order</th>
            <th>Vendor Name</th>
            <th>Vendor Address</th>
            <th>Vendor Phone</th>
            <th>Rider</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">1001</a></td>
                <td>12 Mei 2020</a></td>
                <td>Food Delivery</td>
                <td>Najib</td>
                <td>Precint 3, Putrajaya</td>
                <td>012333444</td>
                <td>Hafiz</td>                 
                <td><span class="badge badge-success">Completed</span></td>
                <td><a href="./show"><button class="btn-info">Show</button></a></td>
            </tr> 
        </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
    <a href="#" class="btn btn-sm btn-info float-left">Add New Assignment</a>
    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->
</div>