<div class="card">
    <div class="card-header border-transparent">
    <h3 class="card-title">Rider Lists</h3>

    <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
        </button>
    </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
    <div class="table-responsive">
        <table class="table m-0">
        <thead>
        <tr>
            <th>Number</th>
            <th>Rider Name</th>
            <th>Rider Phone</th>
            <th>Location</th>
            <th>Rider IC Number</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">1</a></td>
                <td>Hafiz</a></td>
                <td>0123334444</td>
                <td>Klang</td>
                <td>850501015563</td>                       
                <td><span class="badge badge-success">Active</span></td>
                <td><button class="btn-info">Show</button></td>
            </tr> 
        </tbody>
        </table>
    </div>
    <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
    <a href="#" class="btn btn-sm btn-info float-left">Add New Rider</a>
    </div>
    <!-- /.card-footer -->
</div>
<!-- /.card -->
</div>