    <!-- Start Features Card -->
    <div class="features-card-section pt-100 pb-70 bg-f8fbfa">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-card blt-radius-0">
                        <i class='bx bx-conversation blt-radius-0'></i>
                        <h3>
                            <a href="#">Dispatch</a>
                        </h3>
                        <p>Penghantaran surat / produk pada hari yang sama jarak sehingga 40KM.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-card blt-radius-0">
                        <i class='bx bx-laptop blt-radius-0'></i>
                        <h3>
                            <a href="#">Makanan</a>
                        </h3>
                        <p>Pembelian makanan yang fleksible dan memudahkan tanpa perlu keluar rumah.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-card blt-radius-0">
                        <i class='bx bxs-badge-check blt-radius-0'></i>
                        <h3>
                            <a href="#">Runner</a>
                        </h3>
                        <p>Pembelian barangan apa sahaja termasuk barangan basah juga boleh di minta.</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-features-card blt-radius-0">
                        <i class='bx bxs-megaphone blt-radius-0'></i>
                        <h3>
                            <a href="#">Kejutan</a>
                        </h3>
                        <p>Suprise delivery juga di lakukan pada hari yang sama atau pada tarikh yang di pilih.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Features Card -->

    <!-- Start Services Area -->
    <section class="services-area bg-left-color bg-left-shape bg-f4f6fc ptb-100">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="services-image">
                    <div class="image">
                        <%= image_tag('delivery')%>
                    </div>
                </div>

                <div class="services-content it-service-content">
                    <div class="content">
                        <div class="icon">
                            <%= image_tag('logo-white', size: '150x150')%>
                        </div>
                        <h2>Kira harga penghantaran anda</h2>
                        <p>Pilih jenis penghataran yang anda ingin lakukan.</p>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-box">
                                    <i class='fa fa-circle'></i>  
                                    Despatch
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-box">
                                    <i class='fa fa-circle'></i> 
                                    Kejutan
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-box">
                                    <i class='fa fa-circle'></i> 
                                    Barangan
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-box">
                                    <i class='fa fa-circle'></i> 
                                    Makanan
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Area -->

    <!-- Start Features Area -->
    <section class="features-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Kenapa pilih kami</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="features-box">
                        <div class="icon">
                            <i class='fa fa-life-ring'></i>
                        </div>
                        <h3>Insurance</h3>
                        <p>Pihak Deliverypost akan cover sehingga RM200 nilai barangan anda jika terdapat sebarang kerosakan atau kehilangan dari pihak kami.</p>

                        <div class="back-icon">
                            <i class='bx bx-conversation'></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="features-box">
                        <div class="icon">
                            <i class='fa fa-shipping-fast'></i>
                        </div>
                        <h3>Pantas</h3>
                        <p>Penghantaran pada hari yang sama juga boleh di lakukan pada harga yang mampu milik. Boleh juga pilih tarikh untuk penghataran anda.</p>

                        <div class="back-icon">
                            <i class='bx bxs-badge-check'></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="features-box">
                        <div class="icon">
                            <i class='fa fa-smile'></i>
                        </div>
                        <h3>Mudah</h3>
                        <p>Tiada sebarang aplikasi perlu di pasang di telefon bimbit anda. Tempahan boleh dilakukan secara atas talian serta Whatsapp atau SMS.</p>

                        <div class="back-icon">
                            <i class='bx bxs-dashboard'></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="features-box">
                        <div class="icon">
                            <i class='fa fa-money-bill-wave'></i>
                        </div>
                        <h3>Jimat</h3>
                        <p>Kos penghantaran anda akan jadi lebih jimat jika anda menggunakan servis kami. Lebih jauh jarak penghantaran anda lebih jimat kos yang anda keluarkan.</p>

                        <div class="back-icon">
                            <i class='bx bxs-bell-ring'></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="features-box">
                        <div class="icon">
                            <i class='fa fa-star'></i>
                        </div>
                        <h3>Professional</h3>
                        <p>Rider / penghantar kami adalah dari penghantar yang sangat professional. Kami akan menugaskan penghantar yang berdekatan dengan alamat pengambilan.</p>

                        <div class="back-icon">
                            <i class='bx bxs-info-circle'></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Features Area -->

    <!-- Start FAQ Area -->
    <section class="faq-area ptb-100 bg-color-f4f5fe" id="faq">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="faq-accordion">
                        <h2>FAQ</h2>

                        <ul class="accordion">
                            <li class="accordion-item active">
                                <a class="accordion-title" href="javascript:void(0)">
                                    Bagaimana kami beroperasi ?
                                </a>

                                <p class="accordion-content show">
                                    Pihak pelanggan perlu membuat tempahan dari laman web ini dan sistem kami akan memberi SMS / Whatsapp secara automatik kepada rider yang ada berdekatan alamat pengambilan.
                                </p>
                            </li>
                            
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    Tiada "mobile apps" di sediakan ?
                                </a>

                                <p class="accordion-content">
                                    Visi Deliverypost adalah untuk memberi kemudahan yang lebih mudah kepada semua pelanggan kami. Pihak pelanggan tidak perlu <i>install</i> pelbagai aplikasi di telefon bimbit hanya untuk
                                    tempah penghantaran.
                                </p>
                            </li>
                            
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    Bagaimana pihak rider ingin tahu alamat di beri ?
                                </a>

                                <p class="accordion-content">
                                    Sistem kami akan sediakan <i>link</i> kepada pihak <i>rider</i> alamat pengambilan dan alamat penghantaran untuk buka di aplikasi <i>Waze</i> atau <i>Google map</i>.
                                </p>
                            </li>

                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)">
                                    Kehilangan barang penghantaran ?
                                </a>

                                <p class="accordion-content">
                                    Pihak Deliverypost akan sediakan insurance penghantaran untuk membuat tuntutan sehingga RM200 pada harga serendah RM0.85 sahaja.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12">
                    <div class="faq-image">
                        <img src="/assets/faq-img1.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End FAQ Area -->

        <!-- Start Subscribe Area -->
        <section class="subscribe-area pt-70 bg-f4f5fe">
            <div class="container">
                <div class="subscribe-content">
                    <h2>Dapatkan update terkini dari kami</h2>

                    <form class="newsletter-form" data-toggle="validator">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-8">
                                <input type="email" class="input-newsletter" placeholder="hello@deliverypost.co" name="EMAIL" required autocomplete="off">
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <button type="submit"><i class="bx bxs-hot"></i> Subscribe Now</button>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div id="validator-newsletter" class="form-result"></div>
                            </div>
                        </div>
                    </form>

                    <div class="shape14"><img src="/assets/shape/13.png" alt="image"></div>
                    <div class="shape15"><img src="/assets/shape/14.png" alt="image"></div>
                    <div class="shape16"><img src="/assets/shape/15.png" alt="image"></div>
                    <div class="shape17"><img src="/assets/shape/16.png" alt="image"></div>
                    <div class="shape18"><img src="/assets/shape/17.png" alt="image"></div>
                </div>
            </div>
        </section>
        <!-- End Subscribe Area -->