 
  <!-- Start Page Title Area -->
    <div class="page-title-area pb-5">
        <div class="container">
            <div class="page-title-content">
                <h2>Track status</h2>
            </div>
        </div>
    </div>

  <section class="testimonials-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Status penghantaran <%=params[:billcode]%></h2>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 offset-lg-3 offset-md-3 offset-sm-3">
                        <div class="single-testimonials-item">
                            <div class="client-info">
                                <%= image_tag('question')%>
                            </div>

                            <div class="testimonials-desc">
                                <h3>Status: Pending</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 offset-lg-3 offset-md-3 offset-sm-3">
                        <div class="single-testimonials-item">
                            <div class="client-info">
                                <%= image_tag('question')%>
                            </div>

                            <div class="testimonials-desc">
                                <p>Maklumat rider</p>
                                <h3>Aizuddin bin Badry</h3>
                                <h5>601133602268</h5>
                                <h5>AKN3694</h5>
                                <small>
                                    <p>Tarikh penghantaran : 14/5/2020</p>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    