

<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Riders Details</h3>
    </div>
    <!-- /.card-header -->
<div class="col-12">
    <!-- form start -->

        <div class="card-body">
            <div class="row">
                <div class="col-6">
                <div class="">
                    <label for="">Name</label>
                    <p class="text-secondary">Hafiz</p>
                </div>
                <div class="">
                    <label for="">IC Number</label>
                    <p class="text-secondary">850505105563</p>
                </div>
                <div class="">
                    <label for="">Phone Number</label>
                    <p class="text-secondary">0123334444</p>
                </div>
                <div class="">
                    <label for="">Location</label>
                    <p class="text-secondary">Klang</p>
                </div>
                </div>
                <div class="col-6">
                <div class="">
                        <!-- select -->
                    <div class="form-group">
                        <label>Status</label>
                       <p class="text-secondary">Available</p>
                    </div>
                </div>
                <div class="">
                    <label for="exampleInputFile">IC Picture</label>
                    <div>
                        <img src="https://www.rogerclarke.com/DV/MyKad.gif">
                    </div>
                </div>
                </div><!-- col-6 -->
            </div> <!-- row -->
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <td>
                        <button type="Edit" class="btn btn-secondary">Edit Details</button>
                    </td>
                    <td>
                        <button type="delete" class="btn btn-danger">Delete</button>
                    </td>
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
</div><!-- col-12 close -->
</div>


<!------------------------------ -->
